{% extends "base.html" %}
{% block title %}User Detail{% endblock %}
{% block body %}
    <div class="content-section">
        <div class="outer">
            <div class="middle">
                <div class="inner center">
                    <div style="text-align: center;">
                        <h1>Student Name: {{ title }}</h1>
                    </div>
                    <div style="text-align: center;">
                        <h3>Active Steps</h3>
                        <br/>
                        {% if steps_max == 0 %}
                            <h4>No information on steps taken</h4>
                        {% else %}
                            <canvas id="steps" width="500" height="500"></canvas>
                        {% endif %}
                    </div>
                    <div style="text-align: center;">
                        <h3>Active Calories</h3>
                        <br/>
                        {% if calories_max == 0 %}
                            <h4>No information on active calories</h4>
                        {% else %}
                            <canvas id="active_calories" width="500" height="500"></canvas>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
      // line chart data
      var barData = {
        labels : [
          {% for item in created %}
            "{{ item }}",
          {% endfor %}
        ],
        datasets : [{
              fillColor: "rgba(151,187,205,0.2)",
              strokeColor: "rgba(151,187,205,1)",
              pointColor: "rgba(151,187,205,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(151,187,205,1)",
              bezierCurve : false,
              data : [
                  {% for item in calories %}
                      {{ item }},
                  {% endfor %}
              ]
          }]
      }
      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;
      // get bar chart canvas
      var mychart = document.getElementById("active_calories").getContext("2d");
      steps = 10
      max = {{ calories_max }}
      // draw bar chart
      new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : false,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });
    </script>

    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in created %}
           "{{ item }}",
          {% endfor %}
	],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in steps %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }
     // get bar chart canvas
     var mychart = document.getElementById("steps").getContext("2d");
       steps = 10
       max = {{steps_max}}
     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : false,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );
    </script>
{% endblock %}