{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block body %}
    <div class="content-section">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <br/>
                    {{ utils.flashed_messages() }}
                    <br/>
                    <h1 style="text-align: center;">Users</h1>
                    {% if users %}
                        <hr class="intro-divider">
                        <div class="center">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th width="25%"> Name </th>
                                        <th width="25%"> Department </th>
                                        <th width="25%"> Role </th>
                                        <th width="15%"> Assign </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                        {% if user.is_admin %}
                                            <tr style="background-color: #aec251; color: white;">
                                                <td><i class="fa fa-key"></i> Admin </td>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                                <td>N/A</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>
                                                    <a href="{{ url_for('admin.view_user_detail', id=user.id) }}">
                                                        {{ user.first_name }} {{ user.last_name }}
                                                    </a>
                                                </td>
                                                <td>
                                                    {% if user.department %}
                                                        {{ user.department.name }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if user.role %}
                                                        {{ user.role.name }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{{ url_for('admin.assign_user', id=user.id) }}">
                                                        <i class="fa fa-user-plus"></i>
                                                        Assign
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}