{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <div>
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>The Students Dashboard</h1>
                        <h3>For student view only</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>-->
            {% if current_user.user_id == None %}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="intro-message">#}
{#                        <div class="outer">#}
{#                            <div class="middle">#}
{#                                <div class="inner">#}
{#                                    <br/><br/>#}
{#                                    <div class="center">#}
{#                                        <a href="{{ url_for('auth.authorize') }}" class="btn btn-default btn-lg">Authenticate with Polar</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
                <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Project Qridi Dashboard</h1>
                        <h3>Authenticate with Polar now!</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>
            {% else %}
                <div class="center-user-info" style="margin-top: 50px;">
{#                    <table border="1">#}
{#                        {% for key, value in user_info.iteritems() %}#}
{#                            <tr>#}
{#                                <th>{{ key }}</th>#}
{#                                <td>{{ value }}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                    </table>#}

{#                <canvas id="chart" width="600" height="400"></canvas>#}

                    <div class="row">
                        <div class="col-md-12 content">
                            <div class="item-content">
                                <div class="col-sm-4">
                                    <div class="item2">
                                        <div class="item-container">
                                            <svg aria-hidden="true" data-prefix="fas" data-icon="moon" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 class="svg-inline--fa fa-moon fa-w-16 fa-flip-horizontal fa-flip-vertical fa-5x">
                                                <path fill="currentColor"
                                                      d="M283.211 512c78.962 0 151.079-35.925 198.857-94.792 7.068-8.708-.639-21.43-11.562-19.35-124.203 23.654-238.262-71.576-238.262-196.954 0-72.222 38.662-138.635 101.498-174.394 9.686-5.512 7.25-20.197-3.756-22.23A258.156 258.156 0 0 0 283.211 0c-141.309 0-256 114.511-256 256 0 141.309 114.511 256 256 256z"
                                                      class=""></path>
                                            </svg>
                                        </div>
                                        <div class="pa4">
                                            <p class="mv0 lh-copy f2">Name of user</p>
                                            <h2 class="f3 ttu tracked1 b mt0 mb2">{{ user.first_name }} {{ user.last_name }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="item2">
                                        <div class="item-container">
                                            <svg aria-hidden="true" data-prefix="fas" data-icon="moon" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 class="svg-inline--fa fa-moon fa-w-16 fa-5x">
                                                <path fill="currentColor"
                                                      d="M283.211 512c78.962 0 151.079-35.925 198.857-94.792 7.068-8.708-.639-21.43-11.562-19.35-124.203 23.654-238.262-71.576-238.262-196.954 0-72.222 38.662-138.635 101.498-174.394 9.686-5.512 7.25-20.197-3.756-22.23A258.156 258.156 0 0 0 283.211 0c-141.309 0-256 114.511-256 256 0 141.309 114.511 256 256 256z"
                                                      class=""></path>
                                            </svg>
                                        </div>
                                        <div class="pa4">
                                            <p class="mv0 lh-copy f2">Total steps taken</p>
                                            <h2 class="f3 ttu tracked1 b mt0 mb2">{{ total_steps }} steps</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="item2">
                                        <div class="item-container">
                                            <svg aria-hidden="true" data-prefix="fas" data-icon="moon" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 class="svg-inline--fa fa-moon fa-w-16 fa-flip-horizontal fa-5x">
                                                <path fill="currentColor"
                                                      d="M283.211 512c78.962 0 151.079-35.925 198.857-94.792 7.068-8.708-.639-21.43-11.562-19.35-124.203 23.654-238.262-71.576-238.262-196.954 0-72.222 38.662-138.635 101.498-174.394 9.686-5.512 7.25-20.197-3.756-22.23A258.156 258.156 0 0 0 283.211 0c-141.309 0-256 114.511-256 256 0 141.309 114.511 256 256 256z"
                                                      class=""></path>
                                            </svg>
                                        </div>
                                        <div class="pa4">
                                            <p class="mv0 lh-copy f2">Average steps taken per day</p>
                                            <h2 class="f3 ttu tracked1 b mt0 mb2">{{ avg_steps }} steps</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="item2">
                                        <div class="item-container">
                                            <svg aria-hidden="true" data-prefix="fas" data-icon="moon" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 class="svg-inline--fa fa-moon fa-w-16 fa-flip-horizontal fa-5x">
                                                <path fill="currentColor"
                                                      d="M283.211 512c78.962 0 151.079-35.925 198.857-94.792 7.068-8.708-.639-21.43-11.562-19.35-124.203 23.654-238.262-71.576-238.262-196.954 0-72.222 38.662-138.635 101.498-174.394 9.686-5.512 7.25-20.197-3.756-22.23A258.156 258.156 0 0 0 283.211 0c-141.309 0-256 114.511-256 256 0 141.309 114.511 256 256 256z"
                                                      class=""></path>
                                            </svg>
                                        </div>
                                        <div class="pa4">
                                            <p class="mv0 lh-copy f2">Total Calories burned</p>
                                            <h2 class="f3 ttu tracked1 b mt0 mb2">{{ total_calories }} kcal</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="item2">
                                        <div class="item-container">
                                            <svg aria-hidden="true" data-prefix="fas" data-icon="moon" role="img"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                 class="svg-inline--fa fa-moon fa-w-16 fa-flip-horizontal fa-5x">
                                                <path fill="currentColor"
                                                      d="M283.211 512c78.962 0 151.079-35.925 198.857-94.792 7.068-8.708-.639-21.43-11.562-19.35-124.203 23.654-238.262-71.576-238.262-196.954 0-72.222 38.662-138.635 101.498-174.394 9.686-5.512 7.25-20.197-3.756-22.23A258.156 258.156 0 0 0 283.211 0c-141.309 0-256 114.511-256 256 0 141.309 114.511 256 256 256z"
                                                      class=""></path>
                                            </svg>
                                        </div>
                                        <div class="pa4">
                                            <p class="mv0 lh-copy f2">Average calories burned per day</p>
                                            <h2 class="f3 ttu tracked1 b mt0 mb2">{{ avg_calories }} kcal</h2>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],
        datasets : [{
              fillColor: "rgba(151,187,205,0.2)",
              strokeColor: "rgba(151,187,205,1)",
              pointColor: "rgba(151,187,205,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(151,187,205,1)",
              bezierCurve : false,
              data : [
                  {% for item in values %}
                      {{ item }},
                  {% endfor %}
              ]
          }]
      }
      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;
      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");
      steps = 10
      max = {{ max }}
      // draw bar chart
      new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });
    </script>
{% endblock %}