body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetia, Arial, sans-serif;
    font-weight: 700;
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #aec251;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #687430;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;
}

.btn-default {
    border-color: #aec251;
    color: #aec251;
}

.btn-default:hover {
    background-color: #aec251;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
    clear: both;
    height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 10%
}

.intro-message {
    position: relative;
    padding-top: 20%;
    /*padding-botttom: 20%*/
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

.wrapper {
    min-height: 80%;
    /*background: #aec251;*/
    height: auto !important;
    /*height: 100%;*/
    margin: 0 auto -4em;
}

.outer {
    display: table;
    position: absolute;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.content{
    /*background-color: #91a7ff;*/
    /*box-sizing: border-box;*/
    padding: 3rem;
    /*box-shadow: inset 0 0.25rem 0.125rem 0 rgba(0,0,0,.1);*/
    /*border-radius: .25rem;*/
}
.item-content {
    margin-right: -3rem;
    margin-left: -3rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}
.item1{
    text-align: center;
    background-color: #fff;
    /*opacity: .3;*/
    /*box-sizing: border-box;*/
}
.item1 .item-container{
    text-align: center;
    padding: 1.5rem;
    background-color: #4c6ef5;
    color: #fff;
    justify-content: center;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.item2{
    text-align: center;
    background-color: #fff;
    border: 3px solid #aec251;
    border-radius: 10px;
    margin-bottom: 20px;
}
.item2 .item-container{
    padding: 1.5rem;
    background-color: #aec251;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.item3{
    text-align: center;
    background-color: #fff;
    /*opacity: .6;*/
    /*box-sizing: border-box;*/
}
.item3 .item-container{
    padding: 1.5rem;
    background-color: #4c6ef5;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.pa4{
    padding: 1.5rem;
}
