<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | Project Qridi Team</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                        <a class="navbar-brand topnav" href="{{ url_for('home.admin_dashboard') }}">Project Qridi Team</a>
                    {% else %}
                        <a class="navbar-brand topnav" href="{{ url_for('home.dashboard') }}">Project Qridi Team</a>
                    {% endif %}
                {% else %}
                    <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">Project Qridi Team</a>
                {% endif %}

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        {% if current_user.is_admin %}
                            <li><a href="{{ url_for('home.admin_dashboard') }}">Dashboard</a></li>
                            <li><a href="{{ url_for('admin.list_departments') }}">Departments</a></li>
                            <li><a href="{{ url_for('admin.list_roles') }}">Roles</a></li>
                            <li><a href="{{ url_for('admin.list_users') }}">Users</a></li>
                        {% else %}
                            <li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        <li><a><i class="fa fa-user"></i> Hi, {{ current_user.username }}!</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        {% block body %} {% endblock %}
        <div class="push"></div>
    </div>

{#    <footer>#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <ul class="list-inline">#}
{#                        <li><a href="{{ url_for('home.homepage') }}">Home</a></li>#}
{#                        <li class="footer-menu-divider"></li>#}
{#                        {% if current_user.is_authenticated %}#}
{#                            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>#}
{#                        {% else %}#}
{#                            <li><a href="{{ url_for('auth.register') }}">Register</a></li>#}
{#                            <li class="footer-menu-divider"></li>#}
{#                            <li><a href="{{ url_for('auth.login') }}">Login</a></li>#}
{#                        {% endif %}#}
{#                    </ul>#}
{#                    <p class="copyright text-muted small">Copyright &copy; 2018. All Rights Reserved.</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </footer>#}
</body>

<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</html>