{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block body %}
    <div class="content-section">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <br/>
                    {{ utils.flashed_messages() }}
                    <br/>
                    <h1 style="text-align:center;">Roles</h1>
                    {% if roles %}
                        <hr class="intro-divider">
                        <div class="center">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th width="15%"> Name </th>
                                        <th width="40%"> Description </th>
                                        <th width="15%"> User Count </th>
                                        <th width="15%"> Edit </th>
                                        <th width="15%"> Delete </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for role in roles %}
                                        <tr>
                                            <td> {{ role.name }} </td>
                                            <td> {{ role.description }} </td>
                                            <td>
                                                {% if role.users %}
                                                    {{ role.users.count() }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ url_for('admin.edit_role', id=role.id) }}">
                                                    <i class="fa fa-pencil"></i>
                                                    Edit
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ url_for('admin.delete_role', id=role.id) }}">
                                                    <i class="fa fa-trash"></i>
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    <div style="text-align: center">
                    {% else %}
                        <div style="text-align: center">
                            <h3>No roles have been added.</h3>
                            <hr class="intro-divider">
                        </div>
                    {% endif %}
                        <div style="text-align: center">
                            <a href="{{ url_for('admin.add_role') }}" class="btn btn-default btn-lg">
                                <i class="fa fa-plus"></i>
                                Add Role
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}